button {
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    border: none;
    border-radius: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}


h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
